*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(/img/hero_bg.jpg);
    
    
}

.hero-head{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
margin-top: px;
margin-left: 165px;
/* identical to box height */
height: 22px;


color: #FFFFFF;
}
.hero-link_home{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
margin-left: 264px;
/* identical to box height */
text-decoration: none;
padding-top: 93px;
color: #FFFFFF;
}
.hero-link{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 60px;
    /* identical to box height */
    text-decoration: none;
    padding-top: 93px;
    color: #FFFFFF;
}
.hero-title{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 78px;
/* identical to box height */
margin-top: 152px;
margin-left: 165px;
display: flex;
align-self: center;
color: #FFFFFF;
}
.hero-text{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */
margin-top: 25px;
margin-left: 165px;
color: #FFFFFF;

}
.hero-subtitle-link{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 240px;
}
.hero-list{
    display: flex;
    
    
    list-style-type: none;
}
.hero-subtitle{
    margin-left: 165px;
    margin-top: 106px;
}
.hero-list-item{
    margin-top: 93px;
}