
h2 {
    margin-top: 90px;
    margin-left: 120px;
}
table {
    margin-left: 120px;
}
.img{
    background-image: url(item.png);
    height: 15px;
    width: 24px;
    color: #333333;
    margin-left: 1180px;
    margin-top: 230px;
}
@media screen and (max-width: 375px){
    h2 {
        margin-left: 10px;
font-family: 'Libre Franklin';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
}
table {
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
margin-left: 10px;
}
.img {
    font-family: 'Segoe MDL2 Assets';
font-size: 24px;
line-height: 24px;
margin-left: 320px;
    margin-top: 20px;
}
body {
    position: ;
    width: 375px;
    height: 360px;
    left: -1px;
    top: 1588px;
}
}